# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Gradio specific
gradio_app/
*.html
